body {
  font-family: /*rb_font_body*/"Droid Sans"/*e*/, sans-serif;
  color: /*rb_color_body*/#555555/*e*/;
}
input, textarea {
  font-family: /*rb_font_body*/"Droid Sans"/*e*/, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
  color: /*rb_color_body*/#555555/*e*/;
}
h5 span {
  color: /*rb_color_meta2*/#999999/*e*/;
}
a {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
a:hover {
  color: /*rb_color_hover*/#b66b79/*e*/;
}
.dropcap {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.lite1 {
  color: /*rb_color_accent*/#6b99b6/*e*/;
  border-bottom: 1px dotted /*rb_color_accent*/#6b99b6/*e*/;
}
blockquote p {
  font-family: 'Droid Serif', serif;
  color: /*rb_color_meta2*/#999999/*e*/;
}
.intro {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
} 
.menu {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.menu ul li.selected a, .menu ul li a:hover, .menu ul li a.selected {
  color: /*rb_color_menu*/#86acc4/*e*/;
}
.menu ul li.selected ul li a:hover {
  color: /*rb_color_menu*/#86acc4/*e*/;
}
.caption.big_white {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.caption.small_white {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.caption.big_black {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.caption.small_black_bg {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.caption.big_white_bg {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.caption.big_white_bg_2 {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.caption.small_white_bg {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.filter {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.filter li a {
  color: /*rb_color_body*/#555555/*e*/;
}
.filter li a.active,
.filter li a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.item-info .portfolio-meta li span {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.latest-blog li h2 a {
  color: /*rb_color_body*/#555555/*e*/;
}

.latest-blog li h2 a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.latest-blog li .date {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.posts-grid .excerpt h2 a {
  color: /*rb_color_body*/#555555/*e*/;
}
.posts-grid .excerpt h2 a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.post-container .post .post-info .date {
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.post-container .post .post-info .title-meta .post-title a {
  color: /*rb_color_body*/#555555/*e*/;
}
.post-container .post .post-info .title-meta .post-title a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.sidebox ul.posts-list li h6 {
  font-family: /*rb_font_body*/"Droid Sans"/*e*/, sans-serif;
}
.sidebox ul.posts-list li h6 a {
  color: /*rb_color_body*/#555555/*e*/;
}
.sidebox ul.posts-list li h6 a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.sidebox ul.posts-list li em {
  color: /*rb_color_meta2*/#999999/*e*/;
}
.sidebox a {
  color: /*rb_color_body*/#555555/*e*/;
}
.sidebox a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
#comments .info h2 a {
  color: /*rb_color_body*/#555555/*e*/;
}
#comments .info h2 a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
#comments .info .meta {
  color: /*rb_color_meta2*/#999999/*e*/;
}
#comments .info a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.footer-wrapper {
  color: /*rb_color_footer*/#c9c9c9/*e*/;
}
.footer h3 {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.footer .post-list h4 {
  font-family: /*rb_font_body*/"Droid Sans"/*e*/, sans-serif;
}
.footer .post-list h4 a {
  color: /*rb_color_footer*/#c9c9c9/*e*/;
}
.footer .post-list .meta {
  color: /*rb_color_meta*/#899096/*e*/;
}
.footer a:hover,
.footer .post-list a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.site-generator-wrapper {
  color: /*rb_color_footer2*/#bfbfbf/*e*/;
}
#twitter em {
  color: /*rb_color_meta*/#899096/*e*/;
}
#twitter em a {
  color: /*rb_color_meta*/#899096/*e*/;
}
#twitter-wrapper a {
  color: /*rb_color_footer2*/#bfbfbf/*e*/;
}
#twitter-wrapper a:hover {
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
.forms fieldset .text-input,
.forms fieldset .text-area,
#comment-form input,
#comment-form textarea {
  color: /*rb_color_body*/#555555/*e*/;
}
.footer .forms fieldset .text-input,
.footer .forms fieldset .text-area {
  color: /*rb_color_footer2*/#bfbfbf/*e*/;
}
.footer .form-container .response {
  color: /*rb_color_footer*/#c9c9c9/*e*/;
}
#searchform input {
  color: /*rb_color_meta2*/#999999/*e*/;
}
.tab { 
  font-family: /*rb_font_headings*/"Ubuntu"/*e*/, sans-serif;
}
.tab a { 
  color: /*rb_color_body*/#555555/*e*/;
}
.tab a.active,
.tab a:hover { 
  color: /*rb_color_accent*/#6b99b6/*e*/;
}
#testimonials-container .panel-container div .author { 
  color: /*rb_color_meta2*/#999999/*e*/;
  font-family: /*rb_font_body*/"Droid Sans"/*e*/, sans-serif;
}

